/*********************
GENERAL
**********************/
/*#wrapper {
  margin: 0 auto;
  padding: 0;
  width:100%;
}*/

.content {
max-width: 760px;
margin: 0 auto;
padding: 15% 5% 15%;
}

.button {
  background-color: #354B60;
  color: white;

  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0;
  display: inline-block;
  text-decoration: none;

  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  border-radius: 2px;
}
#Header-Pic {
  /*width:100%;*/
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centeredlow {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#sectionstyleintro
{
text-align: center;
position: relative;
color: white;
/*background-color:#F8A043;*/
/*padding: 30% 5%;*/
/*height:500px;*/
font-family: 'Ubuntu', sans-serif;
font-size: 18px;
/*background-image: url("../images/hopintromocks.png");
background-size: fill;
background-repeat: no-repeat;
background-position: center top;*/
/*height:500px;*/

}

#sectionstyle1
{
text-align: center;
background-color:#f6f6f8;
padding: 15% 15% 15%;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
}

#sectionstyle2
{

background-color:#f6f6f8;

}


#sectionstyle3
{

text-align: center;
background: linear-gradient(#e7e7e7, #f5f5f5);

}

#specialpad {
  padding: 0 15%;
}

h5 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
}


h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 32px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
}

ul li p{
  font-size:14px;
}

aside blockquote{
font-family: 'Open Sans', sans-serif;
color: #848484;
font-size: 24px;
margin:0;
padding: 5%;
text-align:center;

}

aside blockquote p{
  margin: 0;
  padding: 5% 5% 0 5%;
  font-size: 12px;
  text-align: center;
  color: #bdc3c7;

}
/*********************
WireGallery
**********************/


#wiregal {
  margin: 0;
  padding: 0;
  list-style: none;

  overflow: hidden;


}

#wiregal li {
    width: 45%;
  float: left;

  margin: 2.5%;
  /*color: #bdc3c7;*/
  list-style: none;

}

#wiregal li p {
  margin: 0;
  padding: 5%;
  font-size: 12px;
  text-align: center;
  list-style: none;
}

.hidden
{
  display:none;
}
