/*@media screen and (min-width: 480px) {


}


}

@media screen and (min-width: 660px) {



} */

@media screen and (min-width: 1080px) {

  .content {
  max-width: 760px;
  margin: 0 auto;
  padding: 5% 5% 5%;
  }

  .button {
    width: 500px;
  }

  body:after {
       content: 'load-addthis';
       display: none; 

  #sectionstyle1
  {
  text-align: center;
  background-color:#f6f6f8;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  }

#wiregal {
  margin: 0;
  padding: 0;
  list-style: none;

  overflow: hidden;


}

#wiregal li {
  float: left;
  vertical-align: middle;
  width: 20%;
  margin: 2.5%;
  /*color: #bdc3c7;*/
  list-style: none;

}

#wiregal li p {
  margin: 0;
  padding: 5%;
  font-size: 12px;
  text-align: center;
  list-style: none;
}




}
